		.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card{
width: 100%;
 height: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: auto;
grid-gap: 1rem;
border-radius: 4px;
padding: .5rem;
}
img{
  max-width: 450px;
  min-width: 450px;
  max-height:200px;
  min-height:600px; 
}
body{
    background-color:cornsilk
}